
.login-form {
    border: 2px solid #8395a7;
    padding: 30px 50px;
}

.login-form input:focus {
    outline: 0;
}

.login-form input:focus::placeholder {
    color: transparent;
  }


.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid #8395a7;
}

.login-form input[type="submit"] {
    background-color: #F9A51A;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 3px;
    margin: 30px 0 15px;
    cursor: pointer;
}

.login-form .create-account {
    text-align: center;
    margin: 0;
}

.login-form .error {
    color: red;
}

.login-form .input-box {
    margin-bottom: 20px;
}

.login-form .special-input {
    overflow: hidden;
}

.login-form .special-input label {
    float: left;
}

.login-form .special-input a {
    float: right;
}


.login-form .error {
    color: red;
}

.toogle {
    color: #F9A51A;
    cursor: pointer;
    text-decoration: underline;
}


