.highlighter {
  color: #FF4C24 !important;
  font-weight: bold;
}


.mainButton {
  color: white;
  border-radius: 30px;
  padding: 15px 40px;
  background-color: #FF4C24;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  border: none;
  margin: 0 5px;
}

.mainButton:hover {
  background-color: black;
  color: white;
}


.cartButton {
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #FF4C24;
  display: inline-block;
  border: none;
  margin-right: 15px;
}



@media all and (max-width: 960px) {

  .left-image {
    display: none;
  }

}


@media all and (max-width: 600px) {

  .right-image {
    display: none;
  }

}







